.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: beige;
}

table {
  border-collapse: collapse;
  width: 60%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

img {
  max-width: 100px;
  max-height: 100px;
}

#detailsContainer {
  margin-left: 20px;
  width: 40%;
}